{% if user.is_authenticated %}
<!-- 이 부분은 유저 닉네임을 어떻게 갖고오는지 보여주려고 쓴 것입니다 (실제 네비게이션 바에는 X) -->
<h1>로그인 후 Main 화면입니다.</h1>
<h1>아이디: {{ user.username }}</h1>
<h1>닉네임: {{ user.first_name }}</h1>
<!-- 이 부분은 유저 닉네임을 어떻게 갖고오는지 보여주려고 쓴 것입니다 (실제 네비게이션 바에는 X) -->

<br/>
<a href="{% url 'logout' %}">로그아웃</a>
<a href="{% url 'searchpage' %}">기록 검색</a>
<br/><br/>

<h2>{{ todayYear }}년 {{ todayMonth }}월 {{ todayDay }}일의 기록 어떻게 남기시겠어요?</h2>
<a href="{% url 'create_diary' %}">일기쓰기</a>
<a href="{% url 'qa365' %}">365 Q&A</a>
<a href="{% url 'mood_graph' %}">감정 통계</a>
<br/><br/>
<h2>{{ user.first_name }}님의 지난 {{ todayMonth }}월 {{ todayDay }}일 기록들입니다.</h2>
    {% if not today_diarys %}
    같은 날짜에 적힌 일기가 없습니다.
    {% else %}
        {% for today_diary in today_diarys %}
        <p>_________________________________________________________________</p>
        <div style="cursor: pointer;" onclick="location.href='{% url 'detail' today_diary.id %}'">
            {% for i in yearGap %}
                {% if forloop.counter == today_diary.id %}
                    {% if i != 0 %}
                        <p>{{ i }}년 전</p>
                    {% else %}
                        <p>올해의 일기</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <p>{{ today_diary.created_at }}</p>
        <h2>{{ today_diary.title }}</h2>
        <p>{{ today_diary.content | truncatewords:25 }}</p>
        </div>
        {% endfor %}
    {% endif %}

{% else %}
<h1>로그인 전 Main 화면입니다.</h1>
<a href="{% url 'login' %}">로그인하기</a>
<a href="{% url 'signup' %}">회원가입하기</a>
{% endif %}