<!-- que를 form으로 넘겨서 저장하기 위해 여기서부터 form 태그를 넣음-->
<form action="{% url 'qa365' %}" method="POST" name="answer_form" > 
{% csrf_token %}
<h1>365 Q&A 페이지</h1>

<p>카테고리를 선택하면 관련 질문이 랜덤하게 나옵니다.</p>

<div>
    <input type='button' value='자기계발' id='btn1' onclick='Btn_imp()' />
    <input type='button' value='꿈' id='btn2' onclick='Btn_dre()' />
    <input type='button' value='인간관계' id='btn3' onclick='Btn_rel()' />
    <input type='button' value='가치관' id='btn4' onclick='Btn_val()' />
    <input type='button' value='기타' id='btn5' onclick='Btn_etc()' />
</div>

{% for que in ques %}
<div>
    {% if que.category == '자기계발' %}
    <p id="imp" style="display: none;">{{ que.question }}</p>
    {% elif que.category == '꿈' %}
    <p id="dre" style="display: none;">{{ que.question }}</p>
    {% elif que.category == '인간관계' %}
    <p id="rel" style="display: none;">{{ que.question }}</p>
    {% elif que.category == '가치관' %}
    <p id="val" style="display: none;">{{ que.question }}</p>
    {% elif que.category == '기타' %}
    <p id="etc" style="display: none;">{{ que.question }}</p>
    
    {% endif %}
</div>
{% endfor %}


{{todayYear}}년 {{todayMonth}}월 {{todayDay}}일 {{ user.first_name }}님의 생각을 기록해주세요.
<div>
    <input type="text" id="answer" name="answer" placeholder="내용을 입력하세요." required>
    <input type = "hidden" id="que" name= "que" value="">
    <input type= "button" name="dd" value="submit" onclick=answer_form.submit();> 
</div>
    <!-- % if not today_answers % -->
    <!-- 같은 날짜에 적힌 일기가 없습니다. -->
    <!-- <div id="list"  style="display: none;"> -->
    {% if today_answers %}
        {% for today_answer in today_answers %}
        <p>_________________________________________________________________</p>
            {% for i in yearGap %}
                <!-- {{answerDay.i}} -->
                <!-- {{today_answer.id}}
                {{forloop.counter}}
                {% if forloop.counter == today_answer.id %}
                    {% if i != 0 %}
                        <p>{{ i }}년 전</p>
                    {% else %}
                        <p>올해의 일기</p>
                    {% endif %}
                {% endif %} -->
            {% endfor %}
        <p>{{ today_answer.created_at.year }}년 {{ today_answer.created_at.month }}월 {{ today_answer.created_at.day }}일 </p>
        <p>{{ today_answer.answer }}</p>
    <!-- </div> -->
        </div>
        {% endfor %}
    {% endif %}




</form>

<script>
    const imp = document.getElementById('imp');
    const dre = document.getElementById('dre');
    const list = document.getElementById('list');
    var choose ;
    function Btn_imp() {

        if (imp.style.display !== 'none') {
            imp.style.display = 'none';
        }
        else {
            imp.style.display = 'block';
            dre.style.display = 'none';
            rel.style.display = 'none';
            val.style.display = 'none';
            etc.style.display = 'none';
            choose = imp.textContent;
            document.getElementById("que").value = choose;
        }
    }
    function Btn_dre() {
        if (dre.style.display !== 'none') {
            dre.style.display = 'none';
        }
        else {
            dre.style.display = 'block';
            imp.style.display = 'none';
            rel.style.display = 'none';
            val.style.display = 'none';
            etc.style.display = 'none';
            choose = dre.textContent;
            document.getElementById("que").value = choose;
        }
    }
    function Btn_rel() {
        if (rel.style.display !== 'none') {
            rel.style.display = 'none';
        }
        else {
            rel.style.display = 'block';
            imp.style.display = 'none';
            dre.style.display = 'none';
            val.style.display = 'none';
            etc.style.display = 'none';
            choose = rel.textContent;
            document.getElementById("que").value = choose;
        }
    }
    function Btn_val() {
        if (val.style.display !== 'none') {
            val.style.display = 'none';
        }
        else {
            val.style.display = 'block';
            imp.style.display = 'none';
            dre.style.display = 'none';
            rel.style.display = 'none';
            etc.style.display = 'none';
            choose = val.textContent;
            document.getElementById("que").value = choose;
        }
    }
    function Btn_etc() {
        if (etc.style.display !== 'none') {
            etc.style.display = 'none';
        }
        else {
            etc.style.display = 'block';
            imp.style.display = 'none';
            dre.style.display = 'none';
            rel.style.display = 'none';
            val.style.display = 'none';
            choose = etc.textContent;
            document.getElementById("que").value = choose;
        }
    }


</script>