{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'search.css' %}" />
    <title>MyAnswerDiary</title>
</head>

<body>
    <div class="mainbox">
        <div class="header">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">로그아웃</a>
            {% endif %}
        </div>


        <div class="menubar">
            <a class="myanswerdiarylogo" href="{% url 'main' %}">
                <img src="{% static 'MyAnswerDiary.png' %}" alt="" />
            </a>
            <ul>
                <li><a class="diary" href="{% url 'create_diary' %}">일기쓰기</a></li>
                
                <li><a class="search" href="{% url 'searchpage' %}">기록 검색</a></li>
                <li><a class="graph" href="{% url 'mood_graph' %}">감정통계</a></li>
            </ul>
        </div>

        <div class="search-box">
            <form action="{% url 'search' %}" method="GET">
                {% csrf_token %}
                <button class="search-icon" type="submit"></button>
                <input class="search-bar" type="search" placeholder="검색어를 입력하세요" name="kw" />
            </form>
        </div>

        <div class="search-result">
            {% if not diarys %}
            <span class="search-title">검색 결과가 없습니다.</span>
            {% else %}

            {% for diary in diarys %}
            <div class="search-result-item" style="cursor: pointer;"  onclick="location.href='{% url 'detail' diary.id %}'">
                <p class="search-date">{{ diary.created_at | date:'Y.m.d' }}</p>
                <div class="content">
                    <span class="search-title">{{ diary.title }}</span>
                    <p class="search-cont">{{ diary.content | truncatewords:25}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>

</html>