<form action="" method="POST">
    {% csrf_token %}
    <div>
        <input type="text" id="user_id" name="user_id" placeholder="아이디를 입력하세요." required>
    </div>
    <div>
        <input type="text" id="user_nickname" name="user_nickname" placeholder="닉네임을 입력하세요." required>
    </div>
    <div>
        <input type="password" id="user_pw" name="user_pw" placeholder="비밀번호를 입력하세요." required>
        <br/>
        <input type="password" id="user_pw_repeat" name="user_pw_repeat" placeholder="비밀번호 확인" required>
    </div>
    <input type="submit" value="회원가입">
</form>
<p>비밀번호를 다시 확인해주세요.</p>